.header {
    position: relative;
    z-index: 1;
    nav{
        position: relative;
        background-color: $white;
        padding-top: 18px;
        padding-bottom: 18px;
        
     }
     &__logo {
        img {
            width: 140px;
            height: 18px;
        }
     }
     &__links {
        a {
            position: relative;
            font-size: $font-sm;
            color: $grayishBlue;
            &:not(:last-child) {
                margin-right: 32px;
            }
            &::before {
                content: "";
                display: block;
                position: absolute;
                height: 5px;
                left: 0;
                right: 0;
                bottom: -30px;
                background: linear-gradient(to right, $limeGreen, $brightCyan);
                opacity: 0;
                transition: opacity ease-in-out 400ms;
            }
            &:hover {
                color: $darkBlue;
                &::before {
                    opacity: 1;
                }
            }
        }
     }
}
 